server {
    listen 80;
    server_name {{ compose_deploy_nginx_server_name }};

    location / {
        proxy_pass http://adminer:8080;
        proxy_set_header Host $host;
    }

    # logging
    error_log /var/log/nginx/app.error.log;
    access_log /var/log/nginx/app.access.log;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
